replicaCount: 1

mode:
  standalone:
    enabled: true
  distributed:
    enabled: false

storageclass:
  name: standard

image:
  repository: rustfs/rustfs
  tag: latest
  pullPolicy: IfNotPresent

ingress:
  enabled: false
