apiVersion: k3d.io/v1alpha5
kind: Simple
metadata:
  name: qwex-dev
servers: 1
agents: 2
image: rancher/k3s:latest
volumes:
  - volume: ${PWD}:/mnt
    nodeFilters:
      - server:*
      - agent:*
ports:
  - port: 8080:80
    nodeFilters:
      - loadbalancer
  - port: 8443:443
    nodeFilters:
      - loadbalancer
options:
  k3d:
    wait: true
    timeout: "60s"
    disableLoadbalancer: false
  kubeconfig:
    updateDefaultKubeconfig: true
    switchCurrentContext: true
