{# docker.sh.j2 - Docker container layer #}
{# Props: image, volumes (list), env (dict), gpus, network, workdir, extra_args #}

# L3: Enter Docker container
{% set docker_args = ["--rm"] %}
{% if gpus %}
{% set _ = docker_args.append("--gpus " ~ gpus) %}
{% endif %}
{% if network %}
{% set _ = docker_args.append("--network " ~ network) %}
{% endif %}
{% if workdir %}
{% set _ = docker_args.append("-w " ~ workdir) %}
{% endif %}
{% for vol in volumes | default([]) %}
{% set _ = docker_args.append("-v " ~ vol) %}
{% endfor %}
{% for key, val in (env | default({})).items() %}
{% set _ = docker_args.append("-e " ~ key ~ "=" ~ val) %}
{% endfor %}
{% for arg in extra_args | default([]) %}
{% set _ = docker_args.append(arg) %}
{% endfor %}

exec docker run {{ docker_args | join(" ") }} {{ image }} "$@"
