{# singularity.sh.j2 - Singularity container layer #}
{# Props: image, binds (list), nv (bool for GPU), writable (bool), extra_args #}

# L3: Enter Singularity container
{% set sing_args = [] %}
{% if nv | default(false) %}
{% set _ = sing_args.append("--nv") %}
{% endif %}
{% if writable | default(false) %}
{% set _ = sing_args.append("--writable") %}
{% endif %}
{% for bind in binds | default([]) %}
{% set _ = sing_args.append("--bind " ~ bind) %}
{% endfor %}
{% for arg in extra_args | default([]) %}
{% set _ = sing_args.append(arg) %}
{% endfor %}

exec singularity exec {{ sing_args | join(" ") }} {{ image }} "$@"
