{# slurm.sh.j2 - Slurm allocation layer #}
{# Props: partition, gpus, time, mem, cpus, extra_args #}

# L2: Submit to Slurm
{% set srun_args = [] %}
{% if partition %}
{% set _ = srun_args.append("--partition=" ~ partition) %}
{% endif %}
{% if gpus %}
{% set _ = srun_args.append("--gres=gpu:" ~ gpus) %}
{% endif %}
{% if time %}
{% set _ = srun_args.append("--time=" ~ time) %}
{% endif %}
{% if mem %}
{% set _ = srun_args.append("--mem=" ~ mem) %}
{% endif %}
{% if cpus %}
{% set _ = srun_args.append("--cpus-per-task=" ~ cpus) %}
{% endif %}
{% for arg in extra_args | default([]) %}
{% set _ = srun_args.append(arg) %}
{% endfor %}

exec srun {{ srun_args | join(" ") }} "$@"
