vars:
  demo_dir: "{{ './demo' | resolvePath(__dir__) }}"

modules:
  steps:
    uses: std/steps
  log:
    uses: std/log

tasks:
  setup:
    desc: "Setup task to ensure prerequisites are met"
    uses: modules.steps.tasks.compose
    vars:
      steps:
        - desc: "Create temp directory"
          cmd: |
            cd {{ __dir__ }}
            mkdir -p {{ vars.demo_dir }}
        - desc: "Initialize uv project"
          cmd: |
            cd {{ __dir__ }}
            uv init --no-workspace {{ vars.demo_dir }}
        - desc: "Initialize git repo in demo_dir"
          cmd: |
            cd {{ vars.demo_dir }}
            git init
            git add -A
            git commit -m "Initial commit"
        - desc: "Copy necessary files to demo_dir"
          cmd: |
            cp {{ __dir__ }}/config/* {{ vars.demo_dir }}
        - desc: "Check if qwex is installed"
          cmd: |
            if ! command -v qwex &> /dev/null; then
              {{ log.tasks.error }} "qwex could not be found. Please install qwex to proceed."
              exit 1
            else
              {{ log.tasks.info }} "qwex is installed."
            fi

  test_normal:
    desc: "Test uv workspace creation and execution using qwex"
    uses: modules.steps.tasks.compose
    vars:
      steps:
        - desc: "Run `qwex run uv run main.py` in demo_dir"
          cmd: |
            cd {{ vars.demo_dir }}
            QWEX_JOB_NAME="original" qwex run uv run main.py
        - desc: "Modify main.py to say other message"
          cmd: |
            cd {{ vars.demo_dir }}
            echo 'import subprocess

            info=subprocess.run(["uname", "-a"], capture_output=True)

            print("Hello from modified main.py!")
            print("System info:")
            print(info.stdout.decode())' > {{ vars.demo_dir }}/main.py
        - desc: "Run `qwex run uv run main.py` again to see modified output"
          cmd: |
            cd {{ vars.demo_dir }}
            QWEX_JOB_NAME="modified" qwex run uv run main.py

  test-docker:
    uses: modules.steps.tasks.compose
    vars:
      steps:
        - desc: "Modify main.py to say a Docker message"
          cmd: |
            cd {{ vars.demo_dir }}
            echo 'import subprocess

            info=subprocess.run(["uname", "-a"], capture_output=True)

            print("Hello from Dockerized main.py!")
            print("System info:")
            print(info.stdout.decode())' > {{ vars.demo_dir }}/main.py
        - desc: "Run `qwex run uv run main.py` again to see Dockerized output"
          cmd: |
            cd {{ vars.demo_dir }}
            QWEX_JOB_NAME="dockerized" qwex -f docker run uv run main.py

  test:
    desc: "UV workspace with lifecycle executed with docker using qwex"
    uses: modules.steps.tasks.compose
    vars:
      steps:
        - desc: "Run normal test"
          cmd: |
            {{ tasks.test_normal }}
        - desc: "Run Docker test"
          cmd: |
            {{ tasks['test-docker'] }}

  clean:
    desc: "Clean up temp directory created during test"
    cmd: |
      if [ -d "{{ vars.demo_dir }}" ]; then
        rm -rf "{{ vars.demo_dir }}"
        {{ log.tasks.info }} "{{ vars.demo_dir }}: Cleaned up temp directory"
      else
        {{ log.tasks.warn }} "{{ vars.demo_dir }}: No temp directory info found for cleanup."
      fi

  all:
    desc: "Test from clean state"
    uses: modules.steps.tasks.compose
    vars:
      steps:
        - desc: "Clean up"
          cmd: "{{ tasks.clean }}"
        - desc: "Setup prerequisites"
          cmd: "{{ tasks.setup }}"
        - desc: "Run tests"
          cmd: "{{ tasks.test }}"
        - desc: "All done"
          cmd: "{{ log.tasks.info }} 'UV workspace test completed.'"
