name: backend

modules:
  storage:
    source: ../storages/local.yaml
    vars:
      workspace: "{{ workspace }}"
  lifecycle:
    source: ../lifecycle.yaml

vars:
  workspace: ""

tasks:
  _logfile:
    run: |
      echo "$({{ storage.dir }} "$1")/logs/output.log"

  submit:
    run: |
      local id=$({{ lifecycle.gen_id }}) logfile
      {{ lifecycle.init }} "$id"
      {{ lifecycle.start }} "$id"
      logfile=$({{ _logfile }} "$id")
      mkdir -p "$(dirname "$logfile")"
      {{ storage.exec }} "$@" > "$logfile" 2>&1 &
      echo "$id"

  run:
    run: |
      local id=$({{ lifecycle.gen_id }}) ec=0 logfile
      {{ lifecycle.init }} "$id"
      {{ lifecycle.start }} "$id"
      logfile=$({{ _logfile }} "$id")
      mkdir -p "$(dirname "$logfile")"
      {{ storage.exec }} "$@" 2>&1 | tee "$logfile" || ec=$?
      {{ lifecycle.finish }} "$id" "$ec"
      echo "$id"
      return $ec

  retrieve:
    run: |
      {{ storage.read }} "$({{ _logfile }} "$1")"

  attach:
    run: |
      {{ storage.tail }} "$({{ _logfile }} "$1")"

  status:
    run: |
      {{ lifecycle.status }} "$1"

  sync:
    run: |
      {{ storage.sync }} "$1"