name: backend

uses:
  local: ./local.yaml
  storage: ../storages/ssh.yaml

vars:
  lifecycle: ""
  workspace: ""

with:
  storage:
    workspace: "{{ workspace }}"
  local:
    lifecycle: "{{ lifecycle }}"
    workspace: "{{ workspace }}"
  lifecycle:
    storage: storage

tasks:
  submit:
    run: |
      {{ local.submit }} "$@"
  run:
    run: |
      {{ local.run }} "$@"
  retrieve:
    run: |
      {{ local.retrieve }} "$1"
  attach:
    run: |
      {{ local.attach }} "$1"
  status:
    run: |
      {{ local.status }} "$1"
  sync:
    run: |
      {{ storage.sync }} "$1"
